.myMap {
    background: url(/localMap.webp); 
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 76.25%;
}

.myMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
