.iconCard {
	display: flex;
	flex-direction: column;
	flex-basis: var(--size-40);
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
}

.iconCard .iconWrapper {
	flex-basis: 10vh;
}

.iconCard .iconWrapper svg {
	width: var(--size-3-5);
	height: var(--size-3-5);
	color: var(--color-accent);
}

.iconCard h6 {
    font: 400 var(--size-2) var(--font-special);
    flex-basis: 10vh;
	text-align: center;
}

.iconCard p {
    color: var(--color-medium-gray);
    flex-basis: 45vh;
    text-align: center;
    line-height: 1.8em;
}
