/* Descriptive custom media queries */
@custom-media --max-large-viewport (max-width: 1440px);
@custom-media --max-medium-viewport (max-width: 1024px);
@custom-media --min-small-viewport (min-width: 900px);
@custom-media --max-small-viewport (max-width: 900px);

.navContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	z-index: 3;
	box-shadow: 0px 2px 50px 0px rgb(0 0 0 / 8%);
	background-color: var(--color-white);
	padding: var(--size-0-75) 0;
}
.hamburgerIcon {
	width: rfs(2rem);
	height: rfs(2rem);
}
.hamburgerButton {
	border: none;
	background-color: transparent;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navbarItems {
	display: flex;
	align-items: center;
	gap: var(--size-5);
}

.navbarItems .navItem {
	list-style-type: none;
	position: relative;
	&:nth-of-type(2),
	&:nth-of-type(3) {
		padding-right: var(--size-2);
	}
}

.navbarItems .navItem svg {
	position: absolute;
	right: 0%;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	transition: transform 0.5s ease;
}

.navbarItems .navItem:hover svg {
	transform: translateY(-50%) rotate(90deg);
}

.navLink {
	text-decoration: none;
	color: black;
	font-size: var(--size-2);
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: center;
}

.navbarItems .logoWrapper {
	position: relative;
	display: flex;
	width: var(--size-35);
	height: var(--size-10);
	.image {
		object-fit: contain;
	}
}

.navbarItems .navItem:has(ul) .subMenu .navItem {
	padding: var(--size-1-5) 0;
}

@media (--min-small-viewport) {
	.subMenu {
		transform: translateY(var(--size-7-5));
		opacity: 0;
		pointer-events: none;
		position: absolute;
		background-color: white;
		transition: all 0.3s ease-in-out;
		padding: var(--size-1-25);
		box-shadow: var(--default-box-shadow);
		width: var(--size-25);
		left: calc(-1 * var(--size-5));
		border-top: 5px solid var(--color-accent);
	}
	.navItem:hover .subMenu {
		transform: translateY(0);
		display: block;
		opacity: 1;
		pointer-events: all;
	}
	.navContainer
		.navMenu
		.navbarItems
		> .navItem:not(.logoItem)
		> .navLink:not(div) {
		position: relative;
	}

	.navContainer
		.navMenu
		.navbarItems
		> .navItem:not(.logoItem)
		> .navLink::after {
		content: "";
		position: absolute;
		border-bottom: 1px solid black;
		width: 100%;
		left: 0;
		top: 100%;
		transition: var(--default-hover-transition);
	}

	.navContainer
		.navMenu
		.navbarItems
		> .navItem:not(.logoItem):hover
		> .navLink::after {
		top: 0;
	}

	.navContainer .navMenu .navbarItems > .navItem:not(.logoItem) > .navLink {
		padding: 0 5px;
	}
}

@media (--max-large-viewport) {
	.navbarItems {
		gap: var(--size-2);
	}
	.navbarItems .navItem {
		width: max-content;
	}
	.navbarItems .logoWrapper {
		width: var(--size-25);
	}
}

@media (--max-medium-viewport) {
	.navbarItems {
		gap: var(--size-1-5);
	}
	.navbarItems .navItem .navLink {
		font-size: var(--size-1-5);
	}
}

@media (--max-small-viewport) {
	.navContainer {
		height: var(--size-7-5);
		padding: var(--size-5) 0;
	}
	.hamburgerButton {
		display: block;
	}
	.navbarItems {
		z-index: 2;
		background: var(--color-white);
		position: absolute;
		top: var(--size-10);
		flex-direction: column;
		width: 100%;
		height: 100vh;
		border-top: 1px solid black;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		padding-top: 0;
		visibility: hidden;
		gap: 0;
		transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
	}
	.navMenu.expanded .navbarItems {
		opacity: 1;
		visibility: visible;
	}
	.navbarItems .logoWrapper {
		margin: auto;
		width: var(--size-60);
		height: var(--size-10);
	}
	.navbarItems .navItem {
		text-align: center;
		width: 100%;
		padding: var(--size-1-25) 0;
		&:not(:nth-child(5)) {
			order: 1;
		}
	}
	.navbarItems > .navItem:not(.logoItem):hover {
		background-color: #eee;
	}
	.navbarItems .navItem .navLink {
		width: 100%;
	}
	.navbarItems .navItem:has(div.navLink) .navLink {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.navbarItems .navItem:has(div.navLink) {
		flex-direction: column;
	}
	.navbarItems .navItem:has(ul.subMenu) {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--size-2-25) 0;
	}
	.navbarItems .navItem:has(ul.subMenuClicked) {
		padding-bottom: 0;
	}
	.navbarItems .navItem:has(ul.subMenu) > .navLink {
		width: var(--size-45);
		position: absolute;
		top: unset;
	}
	.navbarItems .navItem:has(ul.subMenuClicked) > .navLink {
		top: var(--size-1-25);
	}
	.navbarItems .navItem:has(ul.subMenu) svg {
		transform: rotate(0deg);
		top: unset;
	}
	.navbarItems .navItem:has(ul) .subMenu {
		display: none;
	}
	.navbarItems .navItem:has(ul.subMenuClicked) .subMenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: var(--color-accent);
		margin-top: var(--size-7-5);
	}
	.navbarItems .navItem:has(ul.subMenuClicked) svg {
		transform: rotate(90deg);
	}
	.navbarItems .navItem:has(ul.subMenuClicked) .subMenu .navItem {
		display: flex;
		justify-content: center;
		.navLink {
			color: var(--color-white);
		}
	}
}
