.menuItem {
	background-color: transparent;
	position: relative;
	font: 500 var(--size-2) var(--font-fancy);
	padding-inline-start: unset;
	padding-inline-end: unset;
	padding: 0.25rem 0.75rem;
}

.menuItem::after {
	content: "";
	position: absolute;
	border-bottom: 1px solid black;
	width: 100%;
	left: 0;
	top: 100%;
	transition: var(--default-hover-transition);
}

.listItem {
	display: flex;
}

.listItem:hover .menuItem::after {
	top: 0;
}

.subMenu {
	background-color: white;
	padding: var(--size-1-25);
	box-shadow: var(--default-box-shadow);
	width: var(--size-25);
	left: calc(-1 * var(--size-5));
	border-top: 5px solid var(--color-accent);
	list-style-type: none;
}

.subMenu > li {
	padding: var(--size-1-5) 0;
	text-align: center;
}

.subMenu > li > a {
	font-size: var(--size-2);
}








.hamburgerButton {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.headerWrapper {
	position: relative;
	display: flex;
	width: calc(100% - 8rem);
	margin: 1rem auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: all 400ms ease-out;
}

.sectionWrapper {
	max-width: 100%;
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
}

.header {
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	box-shadow: 0px 2px 50px 0px rgb(0 0 0 / 8%);
}
