.menuItem {
	background-color: transparent;
	position: relative;
	font-weight: 500;
	font-family: var(--font-fancy);
	font-size: calc(1rem + 0.5vw);
	padding-inline-start: unset;
	padding-inline-end: unset;
	padding: 0.25rem 0.5vw;
}

.menuItem::after {
	content: "";
	position: absolute;
	border-bottom: 1px solid black;
	width: 100%;
	left: 0;
	top: 100%;
	transition: var(--default-hover-transition);
}

.listItem {
	display: flex;
	position: relative;
}

.listItem:hover .menuItem::after {
	top: 0;
}

.subMenu {
	background-color: white;
	padding: var(--size-1-25);
	box-shadow: var(--default-box-shadow);
	width: var(--size-25);
	left: calc(-1 * var(--size-5));
	border-top: 5px solid var(--color-accent);
	list-style-type: none;
}

.subMenu > li {
	padding: var(--size-1-5) 0;
	text-align: center;
}

.subMenu > li > a {
	font-size: var(--size-2);
}





.sheetLink {
	padding-left: var(--size-1-25);
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
		linear-gradient(to right, var(--color-accent), var(--color-accent), var(--color-accent));
	background-size: 100% 1px, 0 1px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	will-change: auto;
	transition: all 400ms ease-out;
	transform: translateZ(0);
}

.sheetLink:hover {
	cursor: pointer;
	background-size: 0 1px, 80% 1px;
}







.hamburgerButton {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.headerWrapper {
	position: relative;
	display: flex;
	width: calc(100% - 8rem);
	margin: 1rem auto;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: all 400ms ease-out;
}

.sectionWrapper {
	max-width: 100%;
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
}

.header {
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	box-shadow: 0px 2px 50px 0px rgb(0 0 0 / 8%);
}
